.Container {
  display: flex;
  flex-direction: column;
}

.Infected {
  height: 10em;
  width: 15em;
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.Recovered {
  height: 10em;
  width: 15em;
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.Deaths {
  height: 10em;
  width: 14em;
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}
